body {
  margin: 0;
  padding: 0 8%;
  font: normal normal normal 16px Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* On screens that are 600px or less */
@media screen and (max-width: 480px) {
  body {
    padding: 0 0.6em;
    box-sizing: border-box;
  }
}
